/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REMOVE ALL DEFAULT BROWSER SPACING */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* BODY */
body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #ffffff;
  color: #0f172a;
  line-height: 1.6;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
